$navcolor: rgba(255, 135, 135, 0.862);
$li-color: rgb(255, 143, 143);

body {
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;

    &-router {
        display: flex;
        gap: 25px;
        align-items: center;
    }

    &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: black;
        padding: 10px;
        border-radius: 10px;
        width: 7spx;
        height: 20px;
        border: 1px solid gray;

        :hover {
            border: 2px solid black;
        }
    }



    .nav-icons {
        display: flex;
        gap: 20px;

        a {
            text-decoration: none;
            color: black;
            display: flex;

            .icons-under {
                display: flex;
                gap: 10px;
                align-items: center;

                .icons-licons {
                    display: flex;
                    align-items: center;
                    font-size: 25px;

                    &-font {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    & img {
        width: 200px;
    }

}

.home {
    display: flex;

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        gap: 20px;
        justify-content: center;
        margin-top: 40px;

        li {
            list-style: none;
            display: flex;
            width: 15%;

            .products {
                border-radius: 10px;
                border: 1px solid black;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;

                &-title {
                    font-family: monospace;
                    font-weight: 700;
                    font-style: inherit;
                    font-size: 17px;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    align-items: center;
                    margin-top: 10px;
                    margin-left: 10px;
                }

                &-description {
                    font-size: 15px;
                    display: -webkit-box;
                    overflow: hidden;
                    color: #989898;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    position: relative;
                    top: -50px;
                }

                &-price {
                    font-size: 25px;
                    color: #000000;
                    position: relative;
                }

                &-images {
                    border-radius: 10px;
                    margin: 0px;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;

                    img {
                        width: 100%;

                    }

                }
            }
        }
    }





    .products-buttons {
        bottom: 77%;
        position: relative;
        align-items: end;
        display: flex;
        justify-content: end;
        flex-direction: column;
        gap: 20px;

        .active {
            color: red;
        }

        :hover {
            cursor: pointer;
        }

        .basket-shopping:hover {
            transition: 0.9s;
            color: whitesmoke;
        }

        button {
            background: transparent;
            border: none;
            font-size: 20px;
        }

        a {
            display: flex;
            justify-content: end;

            svg {
                padding-right: 10px;
                font-size: 25px;

                &:hover {
                    color: white;
                    transition: 0.9s;
                }
            }
        }
    }

    .popup {
        visibility: hidden;
    }

    .popup-active {
        position: absolute;
        padding: 10px;
        height: calc(16% - 22px);
        width: calc(15% - 24px);
        background: rgba(0, 0, 0, .66);
        z-index: 3;
        border-radius: 10px;
        visibility: visible;
    }
}

.basket {
    ul {
        padding: 0;
        display: flex;
        gap: 30px;
        flex-direction: column;

        li {
            list-style: none;
            width: 100%;
        }
    }

    &-items {
        border: 1px solid $li-color;

        &-title {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 25px;
            display: flex;
            justify-content: center;
        }

        &-description {
            margin-top: 20px;
        }

        &-general {
            display: flex;
        }

        &-info {
            display: flex;
        }
    }

    img {
        width: 150px;
    }
}

.input-general {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
    gap: 20px;

    .input {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 20px;
        border-radius: 15px;
        font-size: 15px;
    }

    .inputs {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    li {
        list-style: none;
        width: 30%;

        .products {
            border-radius: 10px;
            border: 1px solid black;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &-title {
                font-family: monospace;
                font-weight: 700;
                font-style: inherit;
                font-size: 17px;
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                align-items: center;
                margin-top: 10px;
                margin-left: 10px;
            }

            &-description {
                font-size: 15px;
                display: -webkit-box;
                overflow: hidden;
                color: #989898;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }

            &-price {
                font-size: 25px;
                color: #000000;
                position: relative;
            }

            &-image {
                border-radius: 10px;
                margin: 0px;
                width: 100%;
                margin-left: auto;
                margin-right: auto;

                img {
                    width: 100%;

                }

            }
        }
    }


}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;

    li {
        list-style: none;

        .categories-general {
            display: flex;
            align-items: center;

            .categories-image {
                width: 10%;
            }

            .categories-img {
                border-radius: 50%;
                width: 150px;
            }

            .categories-title {
                font-size: 30px;
            }
        }
    }

}

.product-detail {
    display: flex;
    gap: 30px;
    margin-right: 20px;

    img {
        width: 100%;
        border-radius: 7px;
    }

    &-right {
        border: 1px solid gray;
        border-radius: 7px;
        padding: 10px;
    }
}

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: black;
    box-shadow: 0 0 0 2px black;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: black;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #212121;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}